<ion-header>
  <ion-toolbar color="shipt-secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tic Tac Toe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-container">
    Current Player: {{ player }}
    <div *ngIf="winner">
      Player {{ winner }} won the game!
    </div>
  </div>
  <app-gameboard (playerEvent)="receivePlayer($event)" (winnerEvent)="receiveWinner($event)"></app-gameboard>
</ion-content>